.logo-container {
  width: 100%;
  margin: 30px auto 10px auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  gap: 23px;
  flex-wrap: wrap;
}

.logo-container .box {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}

.logo {
  height: 75px;
}

.logo:hover {
  cursor: pointer;
}

.logo-container .title {
  color: rgb(38, 36, 36);
  margin-top: 7px;
}
