body
{
    margin: 0;
    text-align: center;
    background-color: rgb(108, 127, 142);
}

.form-container
{
    height: auto;
    width: 75%;
    background-color: chocolate;
    margin-left: 11%;
    border-radius: 20px;
    padding: 10px;
}

.title, .content{
    margin-bottom: 0px;
}

.title-input, .content-input{
    width: 85%;
    border-radius: 7px;
    font-size: 1.3rem;
    border: none;
}

.add-btn{
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.blog-container
{
    height: auto;
    width: 75%;
    background-color: rgb(30, 22, 22);
    padding: 12px;
    border-radius: 20px;
    margin-left: 12%;
    margin-bottom: 5px;
}

.blog-container h3{
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
    text-transform: capitalize;
    border-radius: 16px;
    width: auto;
}



.blog-container p{
    text-transform: capitalize;
    color: white;
    text-align: justify;
}

.blog-container .delete-btn{
    color: red;
    font-weight: bolder;
    font-size: 1.6rem;
    cursor: pointer;
}
